page-about {

    .background-about{
        background: #1a0a3a;
        color: #ffffff;
    }
    .tracking-in-expand-1 {
        font-size: 25px;
    }
    .content-home{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
    }
    .posi{
        padding-left: 28%;
        padding-right: 28%;
        padding-top: 10%;
    }
    .posiall{
        padding-top: 20%;
        padding-left: 3%;
    }
    .menu-top {
        padding-top: 7px;
        font-size: 13px;
        text-align: center;
        padding-left: 15%;
        //padding-right: 15%;
       
    }
    .about-active-sun {
        height: 50px;
        width: 50px;
        background: #ff3e62;
        padding-left: 5px;
        padding-top: 5px;
        border-radius: 50%;
        position: relative;
    }
    .about-active-ice {
        height: 50px;
        width: 50px;
        background: #00ccff;
        padding-left: 5px;
        padding-top: 5px;
        border-radius: 50%;
        position: relative;
    }
    .about-close {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        padding-left: 5px;
        padding-top: 5px;
        position: relative;
    }
}
