<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding class="background-about">

<div class="posiall">
    <!-- <h1 class="tracking-in-expand-1">Mode Settings</h1> -->

<ion-grid>
  <ion-row>
    <ion-col col-12>
      <h1 class="tracking-in-expand-1">Mode Settings</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <span style="color:#998ead;">Modes</span>
    </ion-col>
    <ion-col col-6 style="padding-left: 30%" >
      <span style="color:#998ead;">Aromas</span>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-md-2.4>
      <div class="about-active-sun"><img src="./assets/imgs/heat.svg" width="40" height="40">
      <span class="menu-top" style="color:#ff3e62">Heat</span></div>
    </ion-col>

    <ion-col col-md-2.4>
      <div class="about-close"><img src="./assets/imgs/cool.svg" width="40" height="40">
      <span class="menu-top">Cool</span></div>
    </ion-col>

    <ion-col col-md-2.4></ion-col>

    <ion-col col-md-2.4>
      <div class="about-close"><img src="./assets/imgs/cherry.svg" width="40" height="40">
      <span class="menu-top">Cherry</span></div>
    </ion-col>
    
    <ion-col col-md-2.4>
      <div class="about-active-ice"><img src="./assets/imgs/ice.svg" width="40" height="40">
      <span class="menu-top" style="color:#00ccff">Ice</span></div>
    </ion-col>
  </ion-row>
  <ion-row><ion-col col-md-2.4></ion-col></ion-row>
  <ion-row>
    <ion-col col-md-2.4>
    <div class="about-close"><img src="./assets/imgs/wet.svg" width="40" height="40">
      <span class="menu-top">Wet</span></div>
    </ion-col>

    <ion-col col-md-2.4>
    <div class="about-close"><img src="./assets/imgs/dry.svg" width="40" height="40">
      <span class="menu-top">Dry</span></div>
    </ion-col>

    <ion-col col-md-2.4></ion-col>

    <ion-col col-md-2.4>
    <div class="about-close"><img src="./assets/imgs/grape.svg" width="40" height="40">
      <span class="menu-top">Grape</span></div>
    </ion-col>

    <ion-col col-md-2.4>
    <div class="about-close"><img src="./assets/imgs/lime.svg" width="40" height="40">
      <span class="menu-top">Lime</span></div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col style="padding-top:10%">
      <p style="color:#998ead;">Temperature</p>
    </ion-col>
  </ion-row>
</ion-grid>

<div text-center class="posi">
    <span style="font-size:90px" >19</span><span style="font-size:15px">temp</span></div>
</div>
</ion-content>
