<!--
  Generated template for the Part1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>part1</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding class="background-home font1">
<div class="posiall content-home">
  <h1 class="posiall_2">อุทยานประวัติศาสตร์ศรีสัชนาลัย</h1>
  <div class="posiall">
  <div class="posiall_4">
  <button ion-button round color="light"  class="center" (click)="goTohistoryPage()" >
    <img src="./assets/imgs/history.svg" width="30" height="30" >
    ประวัติความเป็นมา
  </button>
  </div>
  <div class="posiall_4">
  <button ion-button round color="light"  class="center" (click)=" goTomeasurePage()">
    <img  src="./assets/imgs/measure.svg" width="30" height="30" >
    โบราณสถานคำสัญ
  </button>
  </div>
  <div class="posiall_4">
  <button ion-button round color="light" class="center" (click)=" goTopricePage()">
    <img  src="./assets/imgs/money.svg" width="30" height="30" >
    ค่าใช้จ่ายในการเข้าชม
  </button>
  </div>
  <div class="posiall_4">
  <button ion-button round color="light" class="center" (click)=" goTotravelPage()">
    <img src="./assets/imgs/tourist.svg" width="30" height="30" >
    การเดินทาง
  </button>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-md-2.4 class="posiall_3">
        <img src="./assets/imgs/man.svg" width="350 px" hight="500 px"> 
      </ion-col>

      <ion-col col-md-2.4 class="posiall_1">
        <img src="./assets/imgs/7.svg" >
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
</div>
</ion-content>
