page-part1 {

.background-home{
    background: #1a0a3a;
    color: #ffffff;
    font-family: 'Tangerine', serif;
}
.content-home{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(0,0,0,0.397);
  background:lighten(rgba(0,0,0,0.396),10%);
  position: relative;
  overflow: hidden;
}
.font1{
  font-family: 'Athiti', sans-serif;
}
.posiall{
  padding-top: 10%;
}
.posiall_1{
  padding-top: 25%; 
}
.posiall_2{
  padding-left: 5%;
}
.posiall_3{
  padding-top: 8%;
}
.posiall_4{
  padding-top: 2%;
}

.center{
    margin-left: auto;
    margin-right: auto;
    display: block !important;
    animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes shake-top {
    0%,
    100% {
      transform: rotate(0deg);
      transform-origin: 50% 0;
    }
    10% {
      transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      transform: rotate(4deg);
    }
    80% {
      transform: rotate(-2deg);
    }
    90% {
      transform: rotate(2deg);
    }
  }
} 

