page-contact {
    .background-home{
        background:  rgb(250, 206, 206) ;
    }
    .font1{
        font-family: 'Prompt', sans-serif;
    }
    .font2{
        font-family: 'Athiti', sans-serif;
    }
    .menu-home-close{
        height: 100%;
        border: #c06c84;
        border-style:solid;
        padding-top: 3%;
        
    }
   
}
