<!-- <ion-header>
  <ion-navbar>
    <ion-title>Multimedia</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding class="background-home">
  <!-- Header -->
    <div class="content-home">

<div class="posiall">
  <h1 class="tracking-in-expand-1">Select Climate</h1><p></p>
  <h1 class="tracking-in-expand-2">Settings</h1><p></p>
  <h5 style="color: #998ead">Favorite Presets</h5>

  <!-- Slides -->
<ion-slides slidesPerView="2.5" spaceBetween="10px" style="height: 30%;">
  <ion-slide>
    <div class="menu-home-active"><img class="menu-top"src="./assets/imgs/heat.svg" >
    <span class="menu-top">Heat</span><br>
    <span style="font-size: 30px">10 ํ- 19 ํ</span></div>
  </ion-slide>
  <ion-slide>
    <div class="menu-home-close"><img class="menu-top" src="./assets/imgs/cool.svg" >
    <span style="color:#00ccff">Cool</span><br>
    <span style="font-size: 30px">3 ํ- 7 ํ</span></div>
  </ion-slide>
  <ion-slide>
    <div class="menu-home-close"><img class="menu-top" src="./assets/imgs/wet.svg" >
    <span style="color:#b381ff">Wet</span><br>
    <span style="font-size: 30px">7 ํ- 11 ํ</span></div>
  </ion-slide>
</ion-slides>

  <div text-center class="posi">
<span style="font-size:90px" >19</span><span style="font-size:15px">temp</span></div>
  
 </div>
<!-- Wave Footer -->
  <div class="wave"></div>
  <div class="wave wave1"></div>
  <div class="wave wave2"></div>
 
</div>
</ion-content>
