page-home {

.background-home{
    background: #1a0a3a;
    color: #ffffff;
}
.tracking-in-expand-1 {
    font-size: 25px;
}
.tracking-in-expand-2 {
    font-size: 19px;
}
.content-home{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(0,0,0,0.397);
    background:lighten(rgba(0,0,0,0.396),10%);
    position: relative;
    overflow: hidden;
}
.wave {
    position: absolute;
    background: radial-gradient(cirle at 100%,#6285c6, #6285c6 50%);
    width: 860px;
    height: 860px;
    border-radius: 43%; //ความโค้งนูนของขอบ
    transform-origin: 50% 48%; 
    animation: drift 3000ms infinite linear; //เกิดการเคลื่อนไหว
    opacity: 0.3; //ความบางของวงกลม
    bottom: -135%; //ล่าง
    left: -70%;
    box-shadow: 0 50px 50px rgba(98, 133, 198, 0.439);
}
.wave.wave1{
    background: radial-gradient(circle at 100%, #415e92, #415e92 50%, rgba(0, 0, 0, 0)100%);
    animation: drift 6000ms infinite linear;
    box-shadow: 0 50px 50px rgba(98, 133, 198, 0.439);
    
}
.wave.wave2{
    background: radial-gradient(circle at 100%, #6285c6, #6285c6 50%, rgba(0, 0, 0, 0)100%);
    animation: drift 8000ms infinite linear;
    box-shadow: 0 50px 50px rgba(98, 133, 198, 0.439);
}
@keyframes drift {
    from {transform: rotate(0deg);}
    from {transform: rotate(360deg);} 
}
.menu-home-active {
    height: 150px; //width: 150px;
    background: #ff3e62;
    border-radius: 4px;
}
.menu-home-close{
    height: 150px;// width: 150px;
    border-style: solid;
    border-radius: 4px ;
    
}
.menu-top {
    padding-left: 28%;
    padding-right: 28%;
    padding-top: 10%;
}

.posi{
    padding-left: 28%;
    padding-right: 28%;
    padding-top: 10%;
}
.posiall{
    padding-top: 20%;
    padding-left: 3%;
}
}
