<!--
  Generated template for the HistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="violet" >
  </ion-navbar>

</ion-header>


<ion-content padding class="background-home font1" >
  <h1>ประวัติความเป็นมา</h1><p></p>
<div class="content-home">
  <div class="scale">
  <img src="assets/imgs/img1.jpg">
  </div>
  <div class="tracking-in-expand-1">
    <div text-center class="posi font ">
    <h4 style="color:#c9c3d4" >อุทยานประวัติศาสตร์ศรีสัชนาลัยตั้งอยู่ที่ตำบลศรีสัชนาลัย บริเวณที่เรียกว่า “แก่งหลวง” 
    ครอบคลุมพื้นที่ในเขตของตำบลศรีสัชนาลัย ตำบลสารจิตร ตำบลหนองอ้อ ตำบลท่าชัย 
    ส่วนตัวเมืองโบราณศรีสัชนาลัยมีพื้นที่ทั้งหมดประณ 45.14 ตารางกิโลเมตร เดิมชื่อว่า “เมืองเชลียง” แล้วเปลี่ยนชื่อเป็น “ศรีสัชนาลัย” 
    ในสมัยกษัตริย์ราชวงศ์พระร่วงขึ้นครองกรุงสุโขทัย และได้สร้างเมืองขึ้นใหม่เป็นศูนย์กลางการปกครองแทนเมืองเชลียง 
    ในบริเวณอุทยานประวัติศาสตร์มีโบราณสถาน และโบราณวัตถุทั้งหมด 215 แห่ง สำรวจค้นพบแล้ว 204 แห่ง </h4>
    </div>
  </div>
</div>
</ion-content>
