page-history {
    .background-home{
        background:  #1a0a3a ;
        color:  #ffffff;
    }
    .tracking-in-expand-1 {
        font-size: 16px;
        padding-top: 5%;
    }
    .font1{
        font-family: 'Athiti', sans-serif;
    }
      
    .content-home{
        width: 100%;
        height: 115%;
        background:lighten(rgba(98, 133, 198, 0.439),10%)
    }
    .posi{
        padding-left: 5%;
        padding-right: 5%;
    }
    .scale {
        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @keyframes scale-in-center {
        0% {
        transform: scale(0);
        opacity: 1;
        }
        100% {
        transform: scale(1);
        opacity: 1;
        }
    }
  
}
