page-price {
    .background-home{
        background:  #1a0a3a     ;
        color: #ffffff;
    }
    // .background-slide{
    //     background:  rgba(98, 133, 198, 0.439)     ;
    //     color: #e0b294;
    // }
    .center{
        margin-left: auto;
        margin-right: auto;
        display: block !important;
    }
    .content-home{
        width: 100%;
        height: 80%;
        border-radius: 5px;
    }
    .posiall{
        padding-top: 20%;
        font-size: 28px;
    }
    .font1{
        font-family: 'Athiti', sans-serif;
    }
    .color-change {
        color: #ffffff;
        animation: color-change-3x 4s linear infinite alternate both;
    }
    @keyframes color-change-3x {
        0% {
          background: rgba(98, 133, 198, 0.439);
        }
        50% {
          background: rgba(111, 180, 226, 0.439);
        }
        100% {
          background: rgba(161, 98, 198, 0.439);
        }
      }
}
