<!--
  Generated template for the PricePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="violet" >
    
  </ion-navbar>

</ion-header>


<ion-content padding class="background-home font1">
    <h1>ราคาค่าเข้าชม</h1><p></p>
    <h3 style="font-size: 16px">เปิดให้เข้าชม :  8:00 - 17:00 น. ทุกวัน</h3>
    <h3 style="font-size: 16px">สอบถามรายละเอียดเพิ่มเติม : โทร. 0 5567 9211</h3>
    <ion-slides pager="true" class="color-change content-home">
      <ion-slide *ngFor="let slide of slider">
        <h3 class="posiall" [innerHTML]="slide.title"></h3>
        <img [src]="slide.image" width="200" height="400" />
        
      </ion-slide>
    </ion-slides>
        
</ion-content>
