<!--
  Generated template for the TravelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="violet" >
    
  </ion-navbar>

</ion-header>


<ion-content padding class="background-home font1">
  
    <h1>การเดินทาง</h1><p></p>
  <div text-center class="posi menu-home-close">
    <h5>เริ่มจากตัวเมืองสุโขทัยใช้ทางหลวงหมายเลข 101 (สุโขทัย-สวรรคโลก-ศรีสัชนาลัย) 
      ถึงบริเวณกิโลเมตร 64 เลี้ยวซ้ายข้ามสะพาน ข้ามแม่น้ำยม จะมีทางแยกขวาเข้าอุทยานฯ ประมาณ 2 กิโลเมตร 
      ระยะทาง 68 กิโลเมตร หรือโดยสารรถประจำทาง สุโขทัย-ศรีสัชนาลัย ได้ที่คิวรถ บริเวณตลาดเทศบาล </h5>
  </div>  


    <img src="./assets/imgs/Thecar.svg">
</ion-content>
