page-travel {
    .background-home{
        background:  rgba(98, 133, 198, 0.439)   ;
        color: #ffffff;
    }
    .posi{
        padding-left: 3%;
        padding-right: 3%;
    }
    .font1{
        font-family: 'Athiti', sans-serif;
    }
    .menu-home-close{
        height: 170px;
        border-style: ridge;
        border-radius: 3px ;
        padding-top: 3%;
        
    }
}
