page-measure {
    .background-home{
        background:  #1a0a3a     ;
        color: #ffffff;
    }
    .background-slide{
        background:  rgba(98, 133, 198, 0.439)     ;
        color: #c9c3d4;
    }
    .font1{
        font-family: 'Athiti', sans-serif;
    }
  
}
