<!--
  Generated template for the MeasurePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="violet" >
  
  </ion-navbar>

</ion-header>


<ion-content padding class="background-home font1">
    <h1>โบราณสถานสำคัญ</h1><p></p>

    <ion-slides pager="true" class="background-slide">
      <ion-slide *ngFor="let slide of slider">
        <img [src]="slide.image" width="400" height="400"/>
        <h2 [innerHTML]="slide.title"></h2>
        <h4 [innerHTML]="slide.description"></h4>
      </ion-slide>
    </ion-slides>

</ion-content>
